@keyframes scroll-down {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 90%;
    }
}

@keyframes movelr {
    0% {
        transform: translateX(-50%)
    }

    50% {
        transform: translateX(-45%)
    }

    100% {
        transform: translateX(-50%)
    }
}

@keyframes moveud {
    0% {
        transform: translate(-50%, 0%)
    }

    25% {
        transform: translate(-50%, -1.5%)
    }

    50% {
        transform: translate(-50%, 0%)
    }

    75% {
        transform: translate(-50%, -1.5%)
    }

    100% {
        transform: translate(-50%, 0%)
    }
}
@keyframes scroll-down-2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 90%;
    }


}
