* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andika", sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    align-items: center;
    box-shadow: 3px 0px 5px #0000006e;
    z-index: 10;
    background: #fff;
}

ul {
    display: flex;
}

ul li {
    margin: 0 10px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s all ease-in-out;
}

li:hover a {
    color: orange;
    transition: 0.3s all ease-in-out;
}
.hero{
    display: flex;
    flex-direction: column;
    
    margin: 0 19vw;
    
    height: 70vh ;
    margin-top: 40px;
    width: 60vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}
.status{
    display: flex;
    font-size: 0.8em;
    justify-content: space-evenly;
    width: 300px;
    margin-left: -25px;
}
.status p{
    font-size: 90%;
    margin-top: 5px;
}
.hero img{
    width: 60vw;
}
article{
    width: 78%;
    font-size: 0.9em;
    margin: auto;
    margin-top: 20px;
}
article h2{
    margin: 20px 0px;
}
article h3{
    margin: 20px 0px;
}
footer{
    display: flex;
    width: 100vw;
    justify-content: space-around;    
    border-top:1px solid rgba(0, 0, 0, 0.363) ;
    height: 40px;
    align-items: center;
    font-size: 0.8em;
    margin-top: 40px;
}
footer .links{
    display: flex;
}
.links li a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.links li {
    list-style: none;
    transition: 0.3s all ease-in-out;

}
li:hover a {
    color: orange;
    transition: 0.3s all ease-in-out;
}
@media (max-width:1300px) {
    header {
        flex-direction: column;
        height: 70px;
        justify-content: center;
        height: 100px;
    }
    footer{
        flex-direction: column;
        height: 80px;
    }
    .links li{
        padding: 20px 0;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andika", sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    align-items: center;
    box-shadow: 3px 0px 5px #0000006e;
    z-index: 10;
    background: #fff;
}

ul {
    display: flex;
}

ul li {
    margin: 0 10px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s all ease-in-out;
}

li:hover a {
    color: orange;
    transition: 0.3s all ease-in-out;
}
.hero{
    display: flex;
    flex-direction: column;
    
    margin: 0 19vw;
    height: 650px ;
    margin-top: 40px;
    width: 60vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.status{
    display: flex;
    font-size: 0.8em;
    justify-content: space-evenly;
    width: 300px;
    margin-left: -25px;
}
.status p{
    font-size: 90%;
    margin-top: 5px;
}
.hero img{
    width: 60vw;
    margin: auto;
}
article{
    width: 78%;
    font-size: 0.9em;
    margin: auto;
    margin-top: 20px;
}
article h2{
    margin: 20px 0px;
}
article h3{
    margin: 20px 0px;
}
footer{
    display: flex;
    width: 100vw;
    justify-content: space-around;    
    border-top:1px solid rgba(0, 0, 0, 0.363) ;
    height: 40px;
    align-items: center;
    font-size: 0.8em;
    margin-top: 40px;
}
footer .links{
    display: flex;
}
.links li a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.links li {
    list-style: none;
    transition: 0.3s all ease-in-out;

}
li:hover a {
    color: orange;
    transition: 0.3s all ease-in-out;
}
@media (max-width:1300px) {
    header {
        flex-direction: column;
        height: 70px;
        justify-content: center;
        height: 100px;
    }
    footer{
        flex-direction: column;
        height: 80px;
    }
    .links li{
        padding: 20px 0;
    }
    .hero{
        width: 100vw;
        margin-bottom: 0px;
        height: 100%;
        width: 60%;
    }
    .hero img {
       width: 60vw;
    }
}
@media (max-width:800px) {
    .hero{
        height: 60vh;
        
    }
}
    .hero img {
        width: 100%;
    }
}
@media (max-width:800px) {
    .hero{
        height: 60vh;
        
    }
}
