@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::-webkit-scrollbar{
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 50vh;
}

header {
    background: white;
    height: 100px;
    display: flex;
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100vw;
    justify-content: space-around;
    align-items: center;

}

header img {
    transition: transform 0.5s;
    cursor: pointer;
}

header img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

i {
    margin-top: 0.5vh;
    cursor: pointer;
}

.upper {
    margin: 3vh 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    margin-right: 5vw;
}

.img {
    margin: 0 5vw;
}

.img img {
    width: 350px;

}

#A {
    background: #149f39;
    color: white;
    width: 140px;
    margin-left: 3px;
    cursor: pointer;

    padding: 7px 10px;
    padding-left: 12px;
    height: 30px;
    font-size: 12px;
    border-radius: 8px;
    text-align: center;
    transition: all 0.5s;
}

#A:hover {
    box-shadow: 4px 4px 8px rgba(1, 1, 1, 0.5);
    transition: all 0.5s;
    transform: scale(1.2);
}

#B {
    font-size: 60px;
    font-weight: 500;
    margin-left: -3px;

}

#C {
    font-size: 15px;

}

#D {
    background: #ffc066;
    color: black;
    width: 100px;
    padding: 7px 10px;
    padding-left: 12px;
    height: 30px;
    font-size: 12px;
    margin-top: 3vh;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    transition: all 0.5s;
}

#D:hover {
    box-shadow: 4px 4px 8px rgba(1, 1, 1, 0.5);
    transition: all 0.5s;
    transform: scale(1.2);
}

.feature {
    width: 1100px;
    margin: auto;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin-bottom: 5vh;

}

.text-container {
    display: flex;
    flex-direction: column;
    height: 20px;
    align-items: start;
    justify-content: start;
    text-align: start;
}

p {
    font-size: 13px;
    line-height: 20px;
}

.img-container img {
    width: 70px;
    height: 70px;

}

.box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: all 0.5s;
    width: 325px;
    cursor: pointer;
    border-radius: 8px;
}

.box:hover {
    box-shadow: 4px 4px 8px rgba(1, 1, 1, 0.5);
    transform: scale(1.05);
    transition: all 0.5s;
}
.menu{
    height: 120vh;
}

.menu span {
    margin: auto;
    padding: 5px 11px;
    background: #149f39;
    color: white;
    width: 100px;
    height: 35px;
    display: block;
    border-radius: 8px;
    
}

.menu h3 {
    margin-top: 3vh;
    text-align: center;
}
.grid{
    width: 60vw;
    height: 80vh;
    margin: auto;
    margin-top: 5vh;
    display: grid;
    gap: 10px;
    grid-template-areas: "I1 I1 I2 I3"
                         "I1 I1 I2 I7"
                         "I4 I5 I6 I7";
}
.grid img{
    width: 100%;
    height: 100%;
    transition:all 0.5s ease-in-out;
    border-radius:15px ;
}
.grid img:hover{
    transform: scale(1.05);
    transition:all 0.5s ease-in-out;

}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
footer{
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    align-items: center;
    background: #fff0db;
    height: 30vh;

}
#Support{
    margin-top: -30px;
}
#lastul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 20px;

}
#lastul li:hover{
    color: #149f39;
    transition:all 0.5s ease-in-out ;
}
#lastul li{
    transition:all 0.5s ease-in-out ;
    padding:0 4px ;
}

input{
    margin-bottom: 20px; ;
}
.link{
    transition: all 0.5s ease-in-out;
    width: 13%;
    display: grid;
    justify-content: center;
}
.link:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.274);
}
@media (max-width:1400px) {
    .upper {
        flex-direction: column;
        height: 100vh;
        
    }
    .upper img{
        height: 40vh;
        width: 80vw;
    }
    .hero{
        height: 160vh;
    }
    .feature{
        display: flex;
        flex-direction: column-reverse;
        height: 50vh;
        width: 95vw;
    }
    .box{
        width: 80vw;
    }
    .grid {
        width: 90vw;
    }
    .upper .text{
        margin: auto;
        margin-top: 5vh;
        margin-left: 25vw;
        
    }

    footer{
        flex-direction: column;
    }
   
    footer{
        height: 100vh;
    }
    .link{
        width: 60vw;
        
    }
    #Support{
        margin-right: -2%;
    }
    #lastdiv{
        margin-right: -7%;
    }
    #firstdiv{
        margin-right: 8vw;
    }
}
